@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Karla", sans-serif;
    background-color: #e6eff6;
    line-height: 1.5;
    height: 100vh;
}

h1,
h2 {
    font-weight: 700;
}

h1 {
    color: hsl(179, 62%, 43%);
}

h2 {
    color: #fff;
}

h1 + h2 {
    color: hsl(71, 73%, 54%);
}

h1 + h2 ~ p {
    color: hsl(218, 22%, 67%);
}

p {
    color: hsl(204, 43%, 93%);
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 4rem auto;
}

.offers {
    display: grid;
    border-radius: 10px;
    overflow: hidden;
}

.offer-item {
    padding: 2rem;
}

.subscription {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.background-white {
    background-color: #fff;
}

.background-cyan {
    background-color: hsl(179, 62%, 43%);
}

.background-blue {
    background-color: #4abebd;
}

.btn {
    border: none;
    border-radius: 5px;
    display: inline-block;
    background-color: hsl(71, 73%, 54%);
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .container {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .offers {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .offers :first-child {
        grid-column: 1 / 3;
    }
}
